* {
    margin:0;
    padding:0;
}

body {
    font-family: "Source Code Pro", sans-serif;

    color: rgba(0,0,0,0.65);
    background: rgba(255,200,0, 0.25);
    width:900px;
    margin: 100px auto;
}

h1 {
    font-weight: 300;
    text-transform:uppercase;
    letter-spacing: 0.5em;
    text-align:center;
    color: rgba(0,0,0, 0.25);
    font-size: 3em;
    margin-bottom: 50px;
}

h1,h2,h3,h4 {
    font-weight:300;
    color: rgba(0,0,0,0.25);
    margin: 0;
}

p {
    margin: 1em 0;
    font-size: 13px;
}

p + h2,
p + h3,
p + h4 {
    margin-top: 2em;
}

#content {
    -webkit-column-count:2;
    column-count:2;
}

svg {
    width:100%;
    height: 300px;
}

.node {
  stroke: #fff;
  stroke-width: 2px;
  fill: rgba(255,200, 0, 1);
}
.link {
  stroke: rgba(0,0,0,0.25);
  stroke-width:1px;
}

#clip-details {
    text-align:center;
    margin-top: 4em;
}

#clip-details audio {
    display:block;
    width: 30%;
    margin: 0 auto;
    background: #ccc;
}


